@media screen and (min-width: 768px) {
  .moduleContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .moduleContent {
      width: 380px;

      .desc {
        margin-top: 24px;
        margin-bottom: 32px;
      }
    }

    img {
      width: 42%;
      max-width: 505px;
      margin-right: 7%;
    }
  }

  .popupContainer {
    .popup {
      padding: 56px 0 56px 95px !important;
      p {
        margin: 0 !important;
      }

      .bottomSide {
        display: flex;
        align-items: center;

        .resetBtn {
          margin-left: 10px;
          width: 30px;
        }
      }
    }
  }
}
