.popupContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($color-dark, 0.5);
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;

  .popup {
    width: 90%;
    max-width: 920px;
    height: 210px;
    background-color: white;
    margin: auto;
    position: relative;
    padding: 56px 0px 56px 25px;

    h2 {
      @include title;
      margin-bottom: 24px !important;
    }

    .bottomSide {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .resetBtn {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 32px;
        background-color: $reset-button-background;
        display: none;

        &:hover {
          opacity: rgba($reset-button-background, 0.9);
          box-shadow: 0px 0px 10px -1px $reset-button-background;
          cursor: pointer;

          img {
            animation-name: resetBtnHover;
            animation-duration: 0.4s;
            animation-timing-function: ease-out;
          }
        }
      }
    }

    .xIcon {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 2%;
      top: 0;
      font-size: 40px;

      &::after {
        content: '\d7';
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
